<md-dialog flex="30" flex-md="60" flex-sm="100">
    <form name="weatherForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Информация о погоде</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Закрыть"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout-padding>
                <div layout="row">
                    <md-datepicker name="dateField"
                                   ng-model="ctrl.weather.date"
                                   md-placeholder="Enter date"
                                   md-date-filter="ctrl.checkDate"
                                   md-open-on-focus
                                   required></md-datepicker>
                    <div class="validation-messages" ng-messages="weatherForm.dateField.$error">
                        <div ng-message="required">Выберите дату!</div>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label>Температура</label>
                        <input required ng-pattern="/^\d+\.?\d{1}$/" name="temperature" ng-model="ctrl.weather.temperature">
                        <div ng-messages="weatherForm.temperature.$error">
                            <div ng-message="required">Это обязательное поле.</div>
                            <div ng-message="pattern">Допустимый формат: XX.X</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label>Влажность</label>
                        <input required ng-pattern="/^\d+\.?\d{1}$/" name="humidity" ng-model="ctrl.weather.humidity">
                        <div ng-messages="weatherForm.humidity.$error">
                            <div ng-message="required">Это обязательное поле.</div>
                            <div ng-message="pattern">Допустимый формат: XX.X</div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-if="ctrl.asEdit" ng-click="ctrl.cancel();">Готово</md-button>
            <md-button class="md-raised md-primary" ng-disabled="weatherForm.$invalid" ng-if="!ctrl.asEdit" ng-click="ctrl.add(weatherForm);">Добавить</md-button>
            <md-button ng-click="ctrl.cancel()">Отмена</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>