<div layout="column">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>История погоды</span>
            </h3>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.search(ctrl.searchText) | orderBy:'value'"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Выберите город из списка">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    Город "{{ctrl.searchText}}" не найден.
                </md-not-found>
            </md-autocomplete>
            <br/>
        </form>
    </md-content>

    <md-content class="md-padding">
        <div ng-if="!ctrl.currentCity" layout-align="center center" layout="column">
            <h2 class="md-title">Пожалуйста, выберите город</h2>
        </div>


        <div ng-if="ctrl.currentCity && !ctrl.inWeather(ctrl.currentCity.value);" layout-align="center center"
             layout="column">
            <h2 class="md-title">Для города {{ctrl.currentCity.display}} нет данных о погоде.</h2>
            <md-button ng-click="ctrl.addWeather($event);" class="md-raised md-primary">Добавить</md-button>
        </div>

        <div ng-if="ctrl.currentCity && ctrl.inWeather(ctrl.currentCity.value);" layout-align="center center"
             layout="column">
            <h2 class="md-title">Погода для города {{ctrl.currentCity.display}}</h2>
            <md-button ng-click="ctrl.addWeather($event);" class="md-raised md-primary">Добавить</md-button>
        </div>

        <md-list flex ng-if="ctrl.currentCity && ctrl.inWeather(ctrl.currentCity.value);">
            <md-list-item class="md-3-line" ng-repeat="item in ctrl.weather[ctrl.currentCity.value] track by $index" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h2>{{ ctrl.parseDate(item.date) }}</h2>
                    <p><strong>Температура: {{item.temperature}}</strong></p>
                    <p><strong>Влажность: {{item.humidity}}</strong></p>
                </div>
                <div flex="60"></div>
                <div class="md-list-item-text" layout="column">
                    <md-button ng-click="ctrl.editWeather(item, $event);" class="md-raised md-primary">Редактировать</md-button>
                    <md-button ng-click="ctrl.removeWeather(item);" class="md-accent">Удалить</md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>

